body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

html {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

#login-header {
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
}

#firebaseui-auth-container {
    margin-top: 20px;
}

.version {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 12px;
    color: #666;
}

.status {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: #666;
}